<section class="conlist">
    <article>
        {{#each payload}}
        <h1>Contact List</h1>
        <div class="c2">
            <ul class="c3">
                <li>First Name:{{this.fname}}</li>
                <li>Last Name:{{this.lname}}</li>
                <li>Number:{{this.nmbr}}</li>
                <li>Saved Location:{{this.loc}}</li>
            </ul>
        </div>
        {{else}}
        <h1>No Contacts Please Create a contact First</h1>
        {{/each}}
    </article>
</section>